.demo-card-square.mdl-card {
    width: 320px;
    height: auto;
}

.demo-card-square>.mdl-card__title {
    color: #fff;
    /* background: url('../assets/demos/dog.png') center center 15% no-repeat #46B6AC; */
}

.img-sync {
    display: block;
    background-color: #46B6AC;
    /* background-image: url('https://raw.githubusercontent.com/emasys/webDev/master/weatherApp/images/partly_cloudy.jpg'); */
    background-size: cover;
}

#temp {
    padding: 10px;
}

#minutely {
    margin-top: 60px;
    color: #444;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0px 0px 10px rgb(248, 243, 243);
}

#today {
    margin-top: 20px;
    color: #444;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0px 0px 10px rgb(248, 243, 243);
}